html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
p {
    text-align: center;
}

hr,
h2 {
    margin: 1.6em 0;
}

span {
    font-family: monospace;
}

.page {
    width: 100%;
    max-width: 420px;
    margin: 2em auto;
    padding: 1em;
}

#auswahl,
#copy-button,
#bestellung-text,
textarea {
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5em 1em;
}

#auswahl {
    width: 100%;
    margin: 1em 0;
    font-size: 1em;
}

#copy-button {
    margin: auto;
    font-size: 1em;
    display: block;
    cursor: pointer;
}

#copy-button:hover {
    box-shadow: inset 0 0 2px;
}

#bestellung-text {
    margin: 1em auto;
    border-left: 3px solid orangered;
    padding: 1em 1.5em;
}

.container-div {
    border-radius: 5px;
    border: 1px solid gray;
    margin: 1em 0;
    padding: 1em;
}

.container-div>h3 {
    margin-bottom: .5em;
}

textarea {
    width: 100%;
    resize: vertical;
}
